* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50; 
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container img {
    height: 50px;
    width: auto;
}